.frame {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;

  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  background: #2c3e50;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.ikosaeder {
  transform-style: preserve-3d;
  transform: rotateX(-40deg) rotateY(-40deg);
  transition: all 3s ease-in-out;

  height: 280px;
  width: 160px;
  cursor: pointer;
}
  .ikosaeder:hover { transform: rotateX(-400deg) rotateY(-400deg); }

.side {
  position: absolute;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 0 80px 138.56px 80px;
  border-color: transparent transparent #eee transparent;
  
  transform-origin: 50% 100%;
  transition: all 3s ease-in-out;
}
  .ikosaeder:hover .side { opacity: 0.5; }




.side-1 { transform: translateZ(129.2px) rotateZ(90deg) rotateX(159.095deg); }
.side-2 { transform: translateZ(129.2px) rotateZ(-90deg) rotateX(159.095deg); }
.side-3 { transform: translateZ(-129.2px) rotateZ(90deg) rotateX(-159.095deg); }
.side-4 { transform: translateZ(-129.2px) rotateZ(-90deg) rotateX(-159.095deg); }
.side-5 { transform: rotateY(-90deg) translateZ(129.2px) rotateX(20.905deg); }

.side-6 { transform: rotateY(-90deg) translateZ(129.2px) rotateX(159.095deg); }
.side-7 { transform: rotateY(-90deg) translateZ(-129.2px) rotateX(-20.905deg); }
.side-8 { transform: rotateY(-90deg) translateZ(-129.2px) rotateX(-159.095deg); }
.side-9 { transform: translateY(129.2px) rotateX(69.095deg); }
.side-10 { transform: translateY(129.2px) rotateX(-69.095deg); }

.side-11 { transform: translateY(-129.2px) rotateX(110.905deg); }
.side-12 { transform: translateY(-129.2px) rotateX(-110.905deg); }
.side-13 { transform: translateY(-129.2px) translateX(80px) rotateX(-135deg) rotateY(-35.264deg) rotateZ(-8deg); }
.side-14 { transform: translateY(-129.2px) translateX(80px) rotateX(135deg) rotateY(35.264deg) rotateZ(-8deg); }
.side-15 { transform: translateY(-129.2px) translateX(-80px) rotateX(-135deg) rotateY(35.264deg) rotateZ(8deg); }

.side-16 { transform: translateY(-129.2px) translateX(-80px) rotateX(135deg) rotateY(-35.264deg) rotateZ(8deg); }
.side-17 { transform: translateY(129.2px) translateX(80px) rotateX(45deg) rotateY(-35.264deg) rotateZ(-8deg); }
.side-18 { transform: translateY(129.2px) translateX(80px) rotateX(-45deg) rotateY(35.264deg) rotateZ(-8deg); }
.side-19 { transform: translateY(129.2px) translateX(-80px) rotateX(45deg) rotateY(35.264deg) rotateZ(8deg); }
.side-20 { transform: translateY(129.2px) translateX(-80px) rotateX(-45deg) rotateY(-35.264deg) rotateZ(8deg); }


.side-13, .side-14, .side-15,
.side-16, .side-17, .side-18,
.side-19, .side-20 {
  border-width: 138.56px 80px 0 80px;
}