@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
	
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
	
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	
  background-color: #3FAF82;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.line-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  pointer: cursor;
	
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
	.line-con.close .line:nth-child(1){
		animation: line1-close 1s forwards;
	}
	.line-con.close .line:nth-child(2){
		animation: line2-close 1s forwards;
	}
	.line-con.close .line:nth-child(3){
		animation: line3-close 1s forwards;
	}


.line {
	position: absolute;
	
	width: 100px;
	height: 10px;
	
	background-color: #fff;
	box-shadow:1px 1px 8px #282828;
	border-radius: 5px;
}
	.line:nth-child(1){
		animation: line1 1s forwards;
	}
	.line:nth-child(2){
		animation: line2 1s forwards;
	}
	.line:nth-child(3){
		animation: line3 1s forwards;
	}


@keyframes line1 {
	0% { transform: rotate(45deg); }
	50% { transform: translatey(0px) rotate(0deg); }
	100% { transform: translatey(-20px); }
}
@keyframes line2 {
	0% { transform: scale(0%); }
	100% { transform: scale(100%); }
}
@keyframes line3 {
	0% { transform: rotate(135deg); }
	50% { transform: translatey(0px) rotate(0deg); }
	100% { transform: translatey(20px); }
}




@keyframes line1-close {
	0% { transform: translatey(-20px); }
	50% { transform: translatey(0px); }
	100% { transform: rotate(45deg); }
}
@keyframes line2-close {
	0% { transform: scale(100%); }
	100% { transform: scale(0%); }
}
@keyframes line3-close {
	0% { transform: translatey(20px); }
	50% { transform: translatey(0px); }
	100% { transform: rotate(135deg); }
}
