.frame {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;

  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  background: #A4A9AD;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.horizontal,
.vertical {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  .stripe {
    position: relative;
    float: left;
    background: #20A39E;
  }
    .horizontal .stripe {
      width: 40px;
      height: 10px;
      margin: 15px 0;
      animation: rotate-h 4s ease-in-out infinite;
    }
    .vertical .stripe {
      width: 10px;
      height: 40px;
      margin: 0 15px;
      animation: rotate-v 4s ease-in-out infinite;
    }


    
@keyframes rotate-h {
  0% { transform: rotate(0); }
  20% { transform: rotate(45deg); }
  40% { transform: rotate(45deg) translateX(-20px); }
  60% { transform: rotate(45deg) scaleY(2) scaleX(0.5); }
  80% { transform: rotate(45deg) scaleY(2) scaleX(0.5); }
  100% { transform: rotate(90deg); }
}
@keyframes rotate-v {
  0% { transform: rotate(0); }
  20% { transform: rotate(45deg); }
  40% { transform: rotate(45deg) translateX(10px); }
  60% { transform: rotate(45deg) scaleX(2) scaleY(0.5); }
  80% { transform: rotate(90deg) scaleX(2) scaleY(0.5); }
  100% { transform: rotate(90deg); }
}